@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300&display=swap');

      *{
        background-color: rgb(41, 41, 41);
        font-family: 'Noto Sans Arabic', sans-serif;
        font-weight: bold;
        }


        
        #schedule-table {
          width: 50%;
          margin: auto;
          border-collapse: collapse;
          color: #fff;
          border-radius: 5px;
          box-shadow: 0px 0px 10px #000;
          table-layout: fixed;

        }
        
        #save-button {
          float: right;
          margin-right: 13%;
          padding: 10px;
          height: 20%;
          width: 10%;
          background-color: #777;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
        }
        #save-button:hover {
          background-color: rgb(88, 88, 88);
        }
        #save-button .fa-floppy-disk {
          color: black;
          margin: 5px;
          font-size: 25px;
          background-color: transparent;
        }
      
    th, td {
    border: 1px solid #777;
    text-align: center;
    padding: 8px;
    align-items: center;
    justify-content: center;
    }
    th {
      background-color: grey;
    }
      
      .form-container {
        width: 65%;
        height: auto;  
        margin: auto;
        border: 1px solid #777;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;
        justify-content: center;
        align-items: center;
        
      }
      
      label {

        font-size: 16px;
        color: #fff;
        padding: 15px;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      
      select {

        width: 20%;
        height: 25%;
        font-size: 13px;
        padding: 4px;
        background-color: #777;
        border: 1px solid #999;
        border-radius: 5px;
        color: #fff;
        margin: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;

      }
      
      select:hover{
        background-color: rgb(88, 88, 88);
      }
      
      #ok-button{
        font-size: 15px;
        margin-left: 25px;
        height: auto;
        width: 5%;
        padding: 4px;
        background-color: #777;
        border: 1px solid #999;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        margin-bottom: 20px;
      }
      
      
      #ok-button:active {
        transform: scale(1.3);
      }
      
      input#ok-button:hover {
        background-color: rgb(88, 88, 88);
      
      }

    .scraped-table {
      border-collapse: collapse;
      color: white;
    width: 65%;  
    height: 5%;  
    margin: auto;
    margin-top: 30px;
    direction: rtl;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    justify-content: center;
    align-items: center;

}

  .scraped-table td,
    .scraped-table th{
      
        border: 1px solid #777;
    padding: 10px;
    width: 120px;
    height: 40px;
    text-align: center;
    flex: 1;
    font-size: 15px;
    }
    .scraped-table tr td:last-child {
      height: 5%;
      width: 5%;
    }
    .plus-button {
      background-color: #777;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
    }
     .plus-button .fa-solid{
      background-color: transparent;
      font-size: 20px;
    }
  
    .plus-button:hover {
      background-color: rgb(88, 88, 88);
    }
    
  .plus-sign {
    color: #fff;
    text-align: center;
    
  }
  .selected-box {
      width: 120px;
      height: 30px;
      background-color: #0099F8;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      padding: 5px;
      color: white;
      font-size: 15px;
      display: table-cell;
  }
  .selected-box:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
  }

#selected-courses {
   text-align: center;
   color: white;
}
button[id^="copy-button-"] {
   border: none;
   border-radius: 4px;
   font-size: 14px;
   background-color: #777;
   color: #fff;
   cursor: pointer;
   margin-left: 8px;
}
button[id^="copy-button-"]:hover{
  background-color: rgb(88, 88, 88);
}

span[id^="copy-message-"] {
   display: inline-block;
   font-size: 14px;
   margin-left: 8px;
}

  .remove-button {
    color:  red;
    font-size: 17px;
    border: none;
    position: relative;
    padding: 5px;
    height: auto;
    width: auto;
    background-color: transparent;
    cursor: pointer;
    float: right;
    display: none;
  }
   .remove-button .fa-regular{
    background-color: transparent;
    color:  red;
  }
  .remove-button .fa-regular:hover {
    color: white;
  }
  .visible {
    display: block;
  }
 #copy-button .fa-solid{
  background-color: transparent;
  font-size: 20px;
}
/*
#menu{
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 25px;
}
#menu:hover{
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(88, 88, 88);
}
#menu-list {
  position: absolute;
  display: none;
}

#menu-list a:hover{
  border-radius: 5px;
  width: 15%;

  background-color: rgb(88, 88, 88);
}
#menu-list.open {
  display: flex;
  flex-direction: column;
}*/
